/consoletest/Properties
/consoletest/bin
/consoletest/obj
/jifan.ServerCenter/obj
/jifan.ServerCenter/bin
/SuperSocket.Common/bin
/SuperSocket.Common/obj
/SuperSocket.Facility/obj
/SuperSocket.Facility/bin
/SuperSocket.ProtoBase/obj
/SuperSocket.ProtoBase/bin
/SuperSocket.SocketBase/obj
/SuperSocket.SocketBase/bin
/SuperSocket.SocketEngine/obj
/SuperSocket.SocketEngine/bin
/SuperWebSocket/obj
/SuperWebSocket/bin
